state-bar(title='Словари')

.md-padding(layout='row' layout-align='space-around start')

  #sidenav
    .margin-bottom(ng-repeat='dict in vm.options')
      md-button.default-button.md-raised.width-100(
      ng-click='vm.optionClick(dict)'
      ng-class='{ "md-primary": dict.name === vm.option.name}'
      ) {{ dict.labels.plural || dict.name }}

  .flex

  #viewport.margin-top.scroll-y.md-whiteframe-1dp(flex)
    md-table-container(ng-if='vm.data')
      table(md-table)
        thead(md-head md-order='filterBy')
          th(
          md-column
          ng-repeat='col in vm.columns track by col.name'
          md-order-by='{{col.name}}'
          ) {{ col.title }}
          th(
          md-column
          ) Удалить
        tbody.clickable(md-body)
          tr(
          md-row
          ng-repeat='row in vm.data|orderBy: filterBy track by row.id'
          md-select='article'
          cng-click='vm.itemClick(row, $event)'
          md-select-id='id'
          )
            td(
            md-cell
            ng-repeat='col in vm.columns track by col.name'
            ) {{ row[col.name] }}
            td(md-cell)
              md-button.md-mini.md-icon-button(ng-click='vm.deleteItem(row,$event)' class="slide")
                i.material-icons.clear-icon-size clear

  .flex
