.md-whiteframe-1dp.sub-toolbar(layout='row' layout-align='center center' flex)

  h3.gray Статус:
  h3(ng-if='!vm.isAdmin') {{vm.saleOrder.processing | translate}}

  md-input-container
    md-select(
    ng-disabled='vm.blockMdSelect'
    ng-if='vm.saleOrder && vm.isAdmin'
    ng-model='vm.saleOrder.processing'
    aria-label='$index state'
    md-on-close='vm.changeOrderStatus(vm.saleOrder.id)'
    )
      md-option(ng-repeat='state in vm.dictionary'
      ng-value="state[0]"
      aria-label='state'
      )
        | {{state[1]}}

.scroll-y.saleOrder(resize='saleOrder' ng-style='{height: (saleOrder.windowHeight - saleOrder.offsetTop - 1)+"px"}')

  form-edit(vm="vm" item="vm.saleOrder" form-title="" name-field='' show-buttons='false')
    form-fields.wide.print-layout-row.print-layout-align-space-around-start(
    layout='column' layout-align='center'
    layout-gt-sm='row'
    layout-align-sm='start center'
    layout-align-gt-sm='space-between start'
    )
      .flex
      #order-info.property-list.flex-5-4(ng-include="'app/domain/cart/checkout/orderInfo.html'")
      .flex
      div(ng-include="'app/domain/saleOrder/partials/saleOrderFields.html'")
      .flex

  ng-include#orderTable(src="'app/domain/cart/checkout/orderTable.html'")
