.saleOrders

  state-bar(
  bar-title='Заказы'
  )
    state-bar-button.default-button(title='Редактировать' icon='edit' ng-show='vm.id && (vm.currentState !== "edit")')
    state-bar-button.default-button(title='Печать заказа' icon='print' ng-show='vm.id')

  div(layout='row')

    md-sidenav.md-sidenav-left.md-whiteframe-1dp(
    layout-padding
    md-component-id="left-nav"
    md-is-locked-open="$mdMedia('gt-xs')"
    md-is-open='vm.isSideNavOpen'
    ng-include="'app/domain/saleOrder/partials/sidenav.html'"
    ng-if='!vm.isRootState'
    )

    .flex.ui-view
      .scroll-y(
      resize='orders'
      ng-style="{height: (orders.windowHeight - orders.offsetTop - 57) + 'px'}"
      )
        md-table-container(ng-if='vm.saleOrders')
          table(md-table)
            thead(md-head md-order='filterBy')
              th(md-column md-order-by='ndoc') ID
              th(md-column md-order-by='cts') Дата
              th(md-column md-order-by='contactName') Контактное лицо
              th(md-column md-order-by='phone') Телефон
              th(md-column md-order-by='shipTo') Адрес
              th(md-column md-order-by='processing') Состояние
            tbody.clickable(md-body)
              tr(
              md-row
              ng-repeat='saleOrder in vm.saleOrders' +
              '| orderBy: filterBy ' +
              '| limitTo: vm.pagination.query.limit : (vm.pagination.query.page - 1) * vm.pagination.query.limit' +
              ' track by saleOrder.id'
              ng-click='vm.goToOrder(saleOrder, $event)'
              )
                td(md-cell) {{saleOrder.ndoc}}
                td(md-cell) {{saleOrder.cts | amUtc | amLocal | amDateFormat:"DD/MM/YYYY HH:mm"}}
                td(md-cell) {{saleOrder.contactName}}
                td(md-cell) {{saleOrder.phone}}
                td(md-cell) {{saleOrder.shipTo}}
                td(md-cell)

                  p(ng-show='!vm.isAdmin') {{saleOrder.processing | translate}}

                  md-input-container(ng-show='vm.isAdmin')
                    md-select(
                    ng-disabled='vm.blockMdSelect'
                    ng-model='saleOrder.processing'
                    aria-label='$index state'
                    md-on-close='vm.changeOrderStatus(saleOrder.id)'
                    )
                      md-option(ng-repeat='state in vm.dictionary'
                      ng-value="state[0]"
                      aria-label='state'
                      )
                        | {{state[1]}}


      md-table-pagination(
      md-limit='vm.pagination.query.limit',
      md-label='{{vm.pagination.labels}}',
      md-limit-options='vm.pagination.limitOptions',
      md-page='vm.pagination.query.page',
      md-total='{{vm.saleOrders.length}}',
      md-page-select='!vm.useMobile',
      md-boundary-links='!vm.useMobile'
      md-on-paginate='vm.onPaginate'
      )

