h3 Информация для доставки

.form-controls(layout='column' layout-align='start')

  md-input-container
    label Телефон
      =' '
      span.required-field-asterisk *
    input(
    autocomplete='off'
    type='text'
    ng-model='vm.saleOrder.phone'
    ui-mask="+7(999) 999-9999"
    placeholder=''
    ui-mask-placeholder
    ui-mask-placeholder-char="_"
    required
    name='shippingPhone'
    input-clear
    )
    div(ng-messages="checkoutForm.shippingPhone.$error")
      div(ng-message="required") Поле не может быть пустым

  md-input-container
    label E-mail
      =' '
      span.required-field-asterisk *
    input(
    autocomplete='off'
    type='text'
    ng-model='vm.saleOrder.email'
    ng-pattern='vm.emailPattern'
    required
    name='shippingEmail'
    input-clear
    )
    div(ng-messages="checkoutForm.shippingEmail.$error")
      div(ng-message="required") Поле не может быть пустым
      div(ng-message="pattern") Неверный формат ввода

  md-input-container
    label Контактное лицо
      =' '
      span.required-field-asterisk *
    input(
    autocomplete='off'
    type='text'
    ng-model='vm.saleOrder.contactName'
    required
    name='shippingPerson'
    input-clear
    )
    div(ng-messages="checkoutForm.shippingPerson.$error")
      div(ng-message="required") Поле не может быть пустым

  md-input-container
    label Адрес доставки
      =' '
      span.required-field-asterisk *
    input(
    autocomplete='off'
    type='text'
    ng-model='vm.saleOrder.shipTo'
    required
    name='shippingAddress'
    input-clear
    )
    div(ng-messages="checkoutForm.shippingAddress.$error")
      div(ng-message="required") Поле не может быть пустым

  md-input-container
    label Комментарий
    textarea(
    md-maxlength="200" rows="7"
    ng-model='vm.saleOrder.comment'
    name='shippingComment'
    autocomplete='off'
    input-clear
    )

.text-center
  md-button.width-100.no-margin.md-button.pink-button(
  type='submit'
  ng-if='!vm.id'
  ng-disabled='checkoutForm.$invalid'
  ) Завершить оформление
