.scroll-y(style="height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px")

  .ui-view.article

    .margin-top(layout='row' layout-align='space-around top' layout-xs='column' layout-sm='column')

      span(flex)

      .space-children-em(
      layout='column'
      layout-align='top center'
      ng-if='vm.isRootState'
      )
        .main-photo.md-whiteframe-1dp(
        layout='column'
        layout-align='space-between center'
        )
          .md-card-corner
            label арт {{ vm.article.code }}

          .text-center(
          flex
          layout='column'
          layout-align='space-between center'
          )
            span(flex)
            md-progress-circular(
            md-mode="indeterminate"
            md-diameter='170'
            ng-if='vm.currentImageLoading'
            )
            img.preview(
            ng-if='!vm.currentImageLoading'
            ng-src='{{vm.currentImage.smallSrc}}'
            ng-click='vm.previewClick()'
            )
            span(flex)

          ng-gallery(
          images='vm.images'
          image-hovered-fn='vm.onThumbnailHover'
          is-deletable='vm.isAdmin'
          thumbs-num='5'
          layout='row' layout-align='center center'
          )

        md-button.md-raised.action-button.pink-button(
        ng-click='vm.addToCart(vm.article)'
        ng-if='!vm.article.inCart && (vm.article.highPrice || vm.article.lowPrice)'
        )
          | {{'Добавить к заказу'}}


        .property-list.md-whiteframe-1dp.flex-5-4(ng-if='vm.article.inCart')
          h3.header
            md-button.md-raised.md-mini.micro-square(
            ng-click='vm.clearCart()'
            )
              i.material-icons.mini clear
            span Заказ
          .property-list-container
            .property
              .property-label Количество:
              .property-value.no-margin.plus-minus(layout-align='start center' layout='row')
                md-button.micro-fab(ng-click='vm.minusOne(vm.article)') -
                md-input-container
                  input.item-count-input(
                    aria-label="Количество"
                    ng-model='vm.article.inCart.count'
                    type="number"
                    ng-blur="vm.onBlur(vm.article)"
                    ng-change="vm.onCartChange(vm.article.inCart)"
                    required
                    min='1'
                    step='1'
                  )
                md-button.micro-fab(ng-click='vm.plusOne(vm.article)') +
            .property
              .property-label Общая сумма заказа:
              //.property-value {{ vm.article.inCart.cost(vm.cartSubTotal) || 0 | number: 2 }} ₽
              .property-value {{ vm.cartSubTotal || 0 | number: 2 }} ₽
            .property(ng-if='vm.cartSubTotal > vm.cartTotal')
              .property-label Итого со скидкой:
              .property-value {{ vm.cartTotal | number: 2 }} ₽


      span(flex)

      .space-children-em(layout='column' layout-align='top center')
        .property-list.md-whiteframe-1dp
          h3.header Характеристики
          .property-list-container
            .property
              .property-label Бренд:
              .property-value {{vm.article.brand.name}}
            .property
              .property-label {{ vm.article.multiType ? 'Внешний размер' : 'Размер фото' }}:
              .property-value {{vm.article.frameSize.name}}
            .property(ng-if='vm.article.multiType')
              .property-label {{vm.article.multiTypeName()}}:
              .property-value {{vm.article.articleFrameSizesName()}}
            .property
              .property-label Цвет:
              .property-value {{vm.article.colour.name}}
            .property
              .property-label Материал багета:
              .property-value {{vm.article.material.name}}
            .property(ng-if='vm.article.screeningId')
              .property-label Прозрачная вставка:
              .property-value {{vm.article.screening.name}}
            .property(ng-if='vm.article.backMountId')
              .property-label Крепление задника:
              .property-value {{vm.article.backMount.name}}
            .property
              .property-label Вес:
              .property-value(ng-class='{gray: !vm.article.pieceWeight}')
                | {{vm.article.pieceWeight ? vm.article.pieceWeight + ' кг.' : 'Не указан' }}
            .property
              .property-label Штук в коробке:
              .property-value {{vm.article.packageRel}}

        .property-list.md-whiteframe-1dp
          h3.header Цена
            small.gray &nbsp; (от общей суммы заказа)
          .property-list-container
            .property(
            ng-repeat='prc in vm.prices | filter:"!hide" | orderBy: "ord" track by prc.id'
            sa-animate-on-change='prc.value' change-class="lite change-up"
            )
              .property-label {{ prc.label }} {{ prc.from }}:
              .property-value {{ prc.value | number: 2 }} ₽


      span(flex)

      .fixed-bottom-right.admin-buttons(layout='column' ng-show='vm.isAdmin')
        md-button.md-fab.md-mini.md-icon-button.admin-button(ng-click='vm.editFrame()')
          i.material-icons edit
        md-button.md-fab.md-mini.md-icon-button.admin-button(ng-click='vm.addFrame()')
          i.material-icons add
        md-button.md-fab.md-mini.md-icon-button.admin-button(ng-click='vm.deleteFrame($event)')
          i.material-icons delete
        md-button.md-fab.md-mini.md-icon-button.admin-button(ng-click='vm.showImageDialog($event)')
          i.material-icons add_a_photo
