.scroll-y.article.ui-view(
resize='catalogueItem'
ng-style='{height: (catalogueItem.windowHeight - catalogueItem.offsetTop) + "px"}'
)

  .margin-top#viewport(layout='row' layout-align='space-around' layout-xs='column' layout-sm='column')

    span(flex)

    .space-children-em(
    layout='column' layout-align='start center'
    ng-include="'app/domain/itemView/partials/mainPhoto.html'"
    )

    span(flex style='margin: 0 5px;')

    .space-children-em(
    layout='column' layout-align='top center'
    ng-include="'app/domain/itemView/partials/itemOrder.html'"
    )

    span(flex)

