.for-md-dialog.item-closed(style="height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px")
  //div(layout='row' layout-align='center center')
    .name-head {{vm.article.name}}

  p {{vm.status}}

  .ui-view(layout='row' layout-align='space-around top' layout-xs='column' layout-sm='column')

    span(flex)

    .left-nav-photo.space-children-em(
    layout='column'
    layout-align='top center'
    ng-if='vm.isRootState'
    )
      a.left-container(
      layout="row"
      layout-align="center center"
      )
        img.main-photo.md-whiteframe-1dp.md-padding(ng-src='{{vm.images[0].smallSrc}}')

      md-button.md-raised.action-button.pink-button(
      ng-click='vm.addToCart(vm.article)'
      ng-if='!vm.article.inCart && (vm.article.highPrice || vm.article.lowPrice)'
      )
        | {{'Добавить к заказу'}}

      div.order-block(ng-if='vm.article.inCart')
        .property-list.md-whiteframe-1dp.flex-5-4
          h3.header Заказ
          .property-list-container
            .property
              .property-label Количество:
              .property-value.no-margin(layout-align='start center' layout='row')
                md-button.icon-button-catalogue(ng-click='vm.minusOne(vm.article)') -
                md-input-container
                  input.item-count-input(
                  aria-label="Количество"
                  ng-model='vm.article.inCart.count'
                  type="number"
                  ng-blur="vm.onBlur(vm.article)"
                  ng-change="vm.onCartChange(vm.article.inCart)"
                  required
                  min='1'
                  step='1'
                  )
                md-button.icon-button-catalogue(ng-click='vm.plusOne(vm.article)') +
            .property
              .property-label Общая сумма заказа:
              //.property-value {{ vm.article.inCart.cost(vm.cartSubTotal) || 0 | number: 2 }} ₽
              .property-value {{ vm.cartSubTotal || 0 | number: 2 }} ₽
            .property(ng-if='vm.cartSubTotal > vm.cartTotal')
              .property-label Итого со скидкой:
              .property-value {{ vm.cartTotal | number: 2 }} ₽

      ng-gallery.left-container2.gallery(images='vm.images' thumbs-num='5' layout='row' layout-align='center center')

    span(flex)

    .space-children-em(layout='column' layout-align='top center')
      .property-list.md-whiteframe-1dp.flex-4-5
        h3.header Характеристики
        .property-list-container
          .property
            .property-label Размер:
            .property-value {{vm.size.name}}
          .property
            .property-label Материал:
            .property-value {{vm.material.name}}
          .property
            .property-label Цвет:
            .property-value {{vm.colour.name}}
          .property
            .property-label Вес:
            .property-value {{vm.article.pieceWeight ? vm.article.pieceWeight + ' кг.' : 'Не указан' }}
          .property
            .property-label Штук в коробке:
            .property-value {{vm.article.packageRel}}

      .property-list.md-whiteframe-1dp.flex-4-5
        h3.header Цена
          small.gray &nbsp; (от общей суммы заказа)
        .property-list-container
          .property(
          ng-repeat='prc in vm.prices | filter:"!hide" | orderBy: "ord" track by prc.id'
          sa-animate-on-change='prc.value' change-class="lite change-up"
          )
            .property-label {{ prc.label }} {{ prc.from }}:
            .property-value {{ prc.value | number: 2 }} ₽

    span(flex)

    .admin-buttons(layout='column' ng-show='vm.isAdmin')
      md-button.md-fab.md-mini.md-icon-button.admin-button.admin-button-margin(ng-click='vm.editFrame(vm.article.id)')
        i.material-icons edit
      md-button.md-fab.md-mini.md-icon-button.admin-button.admin-button-margin(ng-click='vm.deleteFrame(vm.article.id, $event)')
        i.material-icons delete
      md-button.md-fab.md-mini.md-icon-button.admin-button.admin-button-margin(ng-click='vm.showImageDialog($event, vm.article.id)')
        i.material-icons add_a_photo
