.for-md-dialog.item-closed(style="height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px")
  div(layout='row' layout-align='center center')
    .name-head {{vm.article.name}}

  .ui-view(layout='row' layout-align='center top' layout-xs='column' layout-sm='column')
    div.left-nav-photo(
      layout='column'
      layout-align='top center'
      ng-if='vm.isRootState'
      flex
      flex-offset='10'
      flex-offset-xs='0'
      flex-offset-sm='0'
    )
      a.left-container(
      layout="row"
      layout-align="center center"
      )
        img.main-photo.md-whiteframe-1dp.md-padding(ng-src='{{vm.images[0].smallSrc}}')
      ng-gallery.left-container2(images='vm.images' thumbs-num='5' layout='row' layout-align='center center')
      md-button.md-raised.md-margin(ng-click='vm.addToCart(vm.article)' ng-if='!vm.article.inCart && !vm.isEditable' style='width: 300px')
        | {{'Добавить в корзину'}}
      md-button.md-raised.md-margin(ng-click='vm.showAdvanced($event)' ng-if='vm.isEditable' style='width: 300px')
        | {{'Загрузить фото '}}


    div
      .order-prop-width.md-whiteframe-1dp(style='border-radius: 5px')
        h1.header-h1 Свойства
        md-table-container
          table(md-table)
            tr(md-row flex='space-around')
              td(md-cell)
                p Размер:
              td.td-fixed-size(md-cell)
                | {{vm.size.name}}
            tr(md-row)
              td.td-width(md-cell)
                p Материал:
              td(md-cell)
                p {{vm.material.name}}
            tr(md-row)
              td(md-cell)
                p Цвет:
              td(md-cell)
                p {{vm.colour.name}}
            tr(md-row)
              td(md-cell)
                p Вес:
              td(md-cell)
                p {{vm.article.pieceWeight ? vm.article.pieceWeight + ' кг' : 'Не указан' }}
            tr(md-row)
              td(md-cell)
                p Штук в коробке:
              td(md-cell)
                p {{vm.article.packageRel}}

      .order-prop-width.md-whiteframe-1dp(style='border-radius: 5px; margin-top:10px' ng-if='!vm.isEditable')
        h1.header-h1 Заказ
        md-table-container
          table(md-table='')
            tr(md-row)

              td.td-width(md-cell)
                p Цена за 1 шт.:

              td(md-cell)
                p {{(vm.article.highPrice | number: 2) || 'Не указана' }}
            tr(md-row)

              td(md-cell)
                p Цена со скидкой 10%:

              td(md-cell)
                p {{(vm.article.lowPrice | number: 2) || 'Не указана' }}
            tr(md-row  ng-if='vm.article.inCart')

              td(md-cell)
                p Заказано:

              span(flex)

              td(md-cell)
                div.action-buttons(layout='row' layout-align="start center")
                  div.div-order-info-num-picker
                    md-button.icon-button-catalogue(ng-click='vm.minusOne(vm.article)') -
                    md-input-container
                      input(
                      aria-label="Количество"
                      ng-model='vm.article.inCart.count'
                      type="number"
                      ng-blur="vm.onBlur(vm.article)"
                      ng-change="vm.onCartChange(vm.article)"
                      required
                      min='1'
                      step='1'
                      )
                    md-button.icon-button-catalogue(ng-click='vm.plusOne(vm.article)') +
            tr(md-row ng-if='vm.article.inCart')
              td(md-cell)
                p Сумма:
              td(md-cell)
                p {{vm.article.lowPrice * vm.article.inCart.count || 0}} руб.
    div(flex-offset='5' flex-offset-xs='0')

    .edit-buttons(layout='row')
      md-button.md-fab.md-mini.md-icon-button.pink-button(ng-click='vm.editFrame(vm.article.id)' ng-if='vm.isEditable')
        i.material-icons edit
      md-button.md-fab.md-mini.md-icon-button.pink-button(ng-click='vm.deleteFrame(vm.article.id)' ng-if='vm.isEditable')
        i.material-icons delete


  //.overall-info(ng-if='vm.isEditable')
  //  div.md-padding.custom-h3(ng-if='vm.articleImages.length')
  //    h2 Для текущей рамки загружено {{vm.articleImages.length}} фото
  //    md-grid-list(
  //    md-cols='1',
  //    md-cols-sm='2',
  //    md-cols-md='3',
  //    md-cols-gt-md='6',
  //    md-row-height-gt-md='1:1',
  //    md-row-height='4:3',
  //    md-gutter='2px',
  //    md-gutter-gt-sm='1px'
  //    )
  //
  //      md-grid-tile.md-padding(
  //      ng-repeat='img in vm.articleImages track by img.id',
  //      md-rowspan='1',
  //      md-colspan='1',
  //      md-colspan-sm='1',
  //      md-colspan-xs='1'
  //      ui-sref='.image({imageId: img.id})'
  //      )
  //        .photo-wrapper(ng-class="{'clicked': img.id == vm.clickedImage.id}", layout="column", layout-align="center center")
  //          img.md-padding(ng-src='{{img.thumbnailSrc}}' )
  //          md-button.md-raised(ng-click="vm.deletePhoto(img)") Удалить фото
