.for-md-dialog(style="height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px;")
  div(
    layout="row"
    layout-sm='column'
    layout-xs='column'
    ng-attr-layout-align="{{vm.isRootState ? 'center top' : 'center center'}}"
  )
    div(layout='column' layout-align='top center' ng-if='vm.isRootState')
      a.left-contaiter(href ui-sref='.image({imageId: vm.article.images[0].id})')
        img.main-photo-margin(ng-src='{{vm.article.images[0].smallSrc}}')
      ng-gallery.left-contaiter(images='vm.articleImages' thumbs-num='5' layout='row' layout-align='center center')
      md-button.md-raised.add-to-cart(ng-click='vm.addToCart(vm.article)' ng-if='!vm.article.inCart && !vm.isEditable')
        | {{'Добавить в корзину'}}
      md-button.md-raised.add-to-cart(ng-click='vm.showAdvanced($event)' ng-if='vm.isEditable')
        | {{'Загрузить фото '}}

    div.overall-info.ui-view(layout='column')
      .name-head(style='border: 1px solid yellow') {{vm.article.name}}
      .item-info
        h1.header-h1 О товаре
        md-table-container(flex=100)
          table(md-table='')
            tr(md-row)
              td(md-cell='')
                p Размер:
              td.td-fixed-size(md-cell='')
                | {{vm.size.name}}
            tr(md-row)
              td(md-cell='')
                p Материал:
              td(md-cell='')
                p {{vm.material.name}}
            tr(md-row)
              td(md-cell='')
                p Цвет:
              td(md-cell='')
                p {{vm.colour.name}}
            tr(md-row)
              td(md-cell='')
                p Вес:
              td(md-cell='')
                p {{vm.article.pieceWeight}} кг
            tr(md-row)
              td(md-cell='')
                p Штук в пачке:
              td(md-cell='')
                p {{vm.article.packageRel}}

      .order(ng-if='vm.article.inCart && !vm.isEditable')
        h1.header-h1 Заказ
        md-table-container
          table(md-table='')
            tr(md-row flex='initial')
              td(md-cell='')
                p Цена за 1 шт.:
              td.td-fixed-size(md-cell='')
                p {{vm.price | number: 2}}
            tr(md-row)
              td(md-cell='')
                p Цена со скидкой 10%:
              td(md-cell='')
                p {{244 | number: 2}}
            tr(md-row)
              td(md-cell='')
                p Цена со скидкой 20%:
              td(md-cell='')
                p {{244 | number: 2}}
            tr(md-row)
              td(md-cell='' colspan='2')
            tr(md-row colspan='2')
              td
                p.name-style Заказано:
              td.td-fixed-size
                div.action-buttons(layout='row' layout-align="start center")
                  div.div-order-info-num-picker
                    md-button.icon-button-catalogue(ng-click='vm.minusOne(vm.article)') -
                    md-input-container
                      input.custom-input(
                      aria-label="Количество"
                      ng-model='vm.article.inCart.count'
                      type="number"
                      ng-blur="vm.onBlur(vm.article)"
                      ng-change="vm.onCartChange(vm.article)"
                      required
                      min='1'
                      step='1'
                      )
                    md-button.icon-button-catalogue(ng-click='vm.plusOne(vm.article)') +
            tr(md-row)
              td(md-cell='')
                p Сумма:
              td(md-cell='')
                p {{vm.price * vm.article.inCart.count || 0}} руб.
            cite * — при сумме заказа более 5000 р. скидка 10%, более 10000 р. — 20%



  div.overall-info(ng-if='vm.isEditable')
    div.md-padding.custom-h3(ng-if='vm.articleImages.length')
      h2 Для текущей рамки загружено {{vm.articleImages.length}} фото
      md-grid-list(
        md-cols='1',
        md-cols-sm='2',
        md-cols-md='3',
        md-cols-gt-md='6',
        md-row-height-gt-md='1:1',
        md-row-height='4:3',
        md-gutter='2px',
        md-gutter-gt-sm='1px'
      )

        md-grid-tile.md-padding(
          ng-repeat='img in vm.articleImages track by img.id',
          md-rowspan='1',
          md-colspan='1',
          md-colspan-sm='1',
          md-colspan-xs='1'
          ui-sref='.image({imageId: img.id})'
        )
          .photo-wrapper(ng-class="{'clicked': img.id == vm.clickedImage.id}", layout="column", layout-align="center center")
            img.md-padding(ng-src='{{img.thumbnailSrc}}' )
            md-button.md-raised(ng-click="vm.deletePhoto(img)") Удалить фото
