md-input-container
  label Ширина багета (мм.)
    =' '
    span.required-field-asterisk *
  input(
  required type='number' step='1' min='1'
  ng-model='vm.baguette.borderWidth'
  name='baguetteWidth'
  input-clear='black'
  input-clear-value='null'
  )
  div(ng-messages="vm.attrsForm.baguetteWidth.$error")
    div(ng-message="required") Поле не может быть пустым

md-input-container
  label Название
    =' '
    span.required-field-asterisk *
  input(
  required type='text'
  ng-model='vm.baguette.lastName'
  name='lastName'
  input-clear='black'
  input-clear-value='null'
  )
  div(ng-messages="vm.attrsForm.lastName.$error")
    div(ng-message="required") Поле не может быть пустым

md-input-container
  label Код
    =' '
    span.required-field-asterisk *
  input(
  required type='text'
  ng-model='vm.baguette.code'
  name='code'
  input-clear='black'
  input-clear-value='null'
  )
  div(ng-messages="vm.attrsForm.code.$error")
    div(ng-message="required") Поле не может быть пустым


searchable-select(
label='Материал'
model='vm.baguette.materialId'
model-name='Material'
options='vm.materials'
)

searchable-select(
label='Фактура'
label-of='Фактуры'
model='vm.baguette.surfaceId'
model-name='Surface'
options='vm.surfaces'
)

searchable-select(
label='Бренд'
model='vm.baguette.brandId'
model-name='Brand'
options='vm.brands'
)

searchable-select(
label='Цвет'
model='vm.baguette.colourId'
model-name='Colour'
options='vm.colours'
)

searchable-select(
label='Дополнительные цвета'
label-of='цвета'
model='vm.extraBaguetteColourId'
model-name='Colour'
options='vm.colours'
)

md-chips(
ng-model="vm.baguetteColours"
readonly='true'
)
  md-chip-template
    span {{$chip.colour.name}}
    md-button.micro-fab(ng-click='vm.deleteColour($chip)') -


input(type='hidden' ng-model='paramsCheck' ng-required='!vm.paramsCheck')
