div(layout='row')

  div.scrolling-contents(
    ng-if='!vm.isRoot'
    style='height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px;'
  )

    md-list.custom-list(ng-hide='vm.hideBaguetteList')
      md-list-item.md-item-text.md-whiteframe-z1(layout='row' layout-wrap='')
        h3 Всего багетов: {{vm.baguettes.length}}
        span(flex)
        md-button.pink-button(ng-click='vm.backToList()') Вернуться к списку

      md-list-item(
        ng-repeat='bag in vm.baguettes |orderBy: bag.name track by bag.id',
        layout='row',
        layout-wrap=''
      )
        .md-item-text.md-whiteframe-z1(flex='', ng-class="{'active-baguette ': vm.currId == bag.id }" ng-click='vm.changeBaguette(bag)')
          ul
            li Ширина: {{bag.borderWidth}} мм.
            li Материал: {{bag.material.name}}
            li Цвет: {{bag.colour.name}}
            li Бренд: {{bag.brand.name}}

  .ui-view(flex)
    md-toolbar.md-table-toolbar.md-default
      .md-toolbar-tools.md-whiteframe-1dp.fixed-toolbar

        div(layout='row' layout-align='center center' ng-class="{'styles-for-mobile-text': vm.useMobile}")
          h2 Плитка багетов
          md-switch(ng-model="vm.switchPosition" aria-label="Switch 2" )

        span(ng-if='!vm.useMobile' flex)

        md-button.md-fab.md-mini.md-icon-button.pink-button.pink-button-fab(
          ng-click='vm.goToCreateBaguette()'
          ng-class="{'styles-for-mobile-button': vm.useMobile}"
        )
          i.material-icons add circle


    md-grid-list(
      md-row-height="200px"
      md-cols-xs='1'
      md-cols-gt-xs="2"
      md-cols-gt-sm="3"
      md-cols-gt-md="4"
      md-cols-gt-lg="5"
      layout-xl="6"
    )
      md-grid-tile(
        md-rowspan="2"
        md-colspan="1"
        ng-repeat= "bag in vm.baguettes track by bag.id"
      )
        md-card.margin-custom

          img.md-card-image.image-size(ng-src='{{bag.images[0].thumbnailSrc}}' ng-if='bag.images.length' ng-click='vm.showImageDialog($event, bag.id)' alt='Baguette {{$index}}')
          img.md-card-image.image-size( ng-src='http://bit.ly/1Yu4VIb' ng-if='!bag.images.length' ng-click='vm.showImageDialog($event, bag.id)' alt='Baguette {{$index}}')

          md-card-content(align='center')
            p
              span.bold Цвет:&nbsp
              span {{bag.colour.name}}
            p
              span.bold Материал:&nbsp
              span {{bag.material.name}}
            p
              span.bold Бренд:&nbsp
              span {{bag.brand.name}}
            p
              span.bold Ширина:&nbsp
              span {{bag.borderWidth}} мм.

          md-card-actions.pink-button(layout='row', layout-align='center center')
            md-button(ng-click='vm.editBaguette(bag)') Редактировать
            md-button(ng-click='vm.deleteBaguette(bag)') Удалить

    div(layout='row' layout-align='center center' style=' height: {{ windowHeight - 140 }}px' ng-show='!vm.baguettes.length')
      md-button.md-raised.pink-button(ng-click='vm.goToCreateBaguette()')
        | {{'Добавить багет'}}
