div.baguettes(layout='row')

  div.scrolling-contents(
  ng-if='!vm.isRoot'
  style='height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px;'
  )

    md-list.custom-list(ng-hide='vm.hideBaguetteList')
      md-list-item.md-item-text.md-whiteframe-z1(layout='row' layout-wrap='')
        h3 Всего багетов: {{vm.baguettes.length}}
        span(flex)
        md-button.pink-button(ng-click='vm.backToList()') Вернуться к списку

      md-list-item(
      ng-repeat='bag in vm.baguettes |orderBy: bag.name track by bag.id',
      layout='row',
      layout-wrap=''
      )
        .md-item-text.md-whiteframe-z1(flex='', ng-class="{'active-baguette ': vm.currId == bag.id }" ng-click='vm.changeBaguette(bag)')
          ul
            li Ширина: {{bag.borderWidth}} мм.
            li Материал: {{bag.material.name}}
            li Цвет: {{bag.colour.name}}
            li Бренд: {{bag.brand.name}}

  .ui-view(flex)
    md-toolbar.md-table-toolbar.md-default
      .md-toolbar-tools.md-whiteframe-1dp.fixed-toolbar

        div(layout='row' layout-align='center center' ng-class="{'styles-for-mobile-text': vm.useMobile}")
          h2 Плитка багетов
          md-switch(ng-model="vm.switchPosition" aria-label="Switch 2" )

        span(ng-if='!vm.useMobile' flex)

        md-button.md-fab.md-mini.md-icon-button.pink-button.pink-button-fab(
        ng-click='vm.goToCreateBaguette()'
        ng-class="{'styles-for-mobile-button': vm.useMobile}"
        )
          i.material-icons add circle

    div(layout='row' layout-align='center center' style='border: 1px solid black; margin: 12px; margin-bottom:0')
      md-virtual-repeat-container(style='height: {{windowHeight - 150}}px')
        .repeated-group(md-virtual-repeat='bag in vm.chunked' layout='row' layout-align='center center')
          div.repeated-group-item(ng-repeat='i in bag' flex)
            p {{i.colour.name}}
            p {{i.brand.name}}
            p {{i.borderWidth}}
            p {{i.material.name}}
