md-input-container
  label Комментарий
  input(
  type='text'
  ng-model='vm.baguette.lastName'
  name='lastName'
  input-clear='black'
  input-clear-value='null'
  autocomplete='off'
  )
  div(ng-messages="vm.attrsForm.lastName.$error")
    div(ng-message="required") Поле не может быть пустым

md-input-container
  label Код
    =' '
    span.required-field-asterisk *
  input(
  required type='text'
  ng-model='vm.baguette.code'
  name='code'
  input-clear='black'
  input-clear-value='null'
  autocomplete='off'
  )
  div(ng-messages="vm.attrsForm.code.$error")
    div(ng-message="required") Поле не может быть пустым

md-input-container
  label Ширина багета (мм.)
    =' '
    span.required-field-asterisk *
  input(
  required type='number' step='1' min='1'
  ng-model='vm.baguette.borderWidth'
  name='baguetteWidth'
  input-clear='black'
  input-clear-value='null'
  autocomplete='off'
  )
  div(ng-messages="vm.attrsForm.baguetteWidth.$error")
    div(ng-message="required") Поле не может быть пустым

input(type='hidden' ng-model='paramsCheck' ng-required='!vm.paramsCheck')
