.scroll-y(
resize='baguetteCreate'
style="height: {{ baguetteCreate.windowHeight - baguetteCreate.offsetTop - 2}}px;"
)
  h2.md-margin.center-header(ng-if='vm.isCreateState') Создание нового багета

  div(layout-align='center center' layout='column')

    form(name="widthForm")
      md-input-container
        label Ширина багета (мм.)
          =' '
          span.required-field-asterisk *
        input(
        required type='number' step='1' min='1'
        ng-model='vm.baguette.borderWidth'
        name='baguetteWidth'
        input-clear='black'
        input-clear-value='null'
        )
        div(ng-messages="widthForm.baguetteWidth.$error")
          div(ng-message="required") Поле не может быть пустым


    searchable-select(
    label='Материал'
    model='vm.baguette.materialId'
    model-name='Material'
    options='vm.materials'
    on-close='vm.saveClickedOption()'
    )

    searchable-select(
    label='Бренд'
    model='vm.baguette.brandId'
    model-name='Brand'
    options='vm.brands'
    on-close='vm.saveClickedOption()'
    )

    searchable-select(
    label='Цвет'
    model='vm.baguette.colourId'
    model-name='Colour'
    options='vm.colours'
    on-close='vm.saveClickedOption()'
    )

    div(layout='row')

      md-button.md-raised(
      ng-click='vm.quit()'
      ) Отменить

      md-button.md-raised(
      ng-disabled='!vm.selectParamsChecker()'
      ng-click='vm.createBaguette()'
      ) Создать

    div.alert.margin-top.md-whiteframe-1dp(ng-if='vm.dupMessage.length' layout='row' layout-align='center center')
      span {{vm.dupMessage}}
