.ui-view(ng-if='!vm.isRoot' flex)

md-content#scroll-main(
flex
style='max-width: {{ vm.isRoot ? "100%" : "0"}}'
)

  .repeat-wrapper(
  layout='row' layout-align='center center'
  resize='baguettes'
  style='height: {{ baguettes.windowHeight - baguettes.offsetTop - 2 }}px'
  )
    md-virtual-repeat-container.height-100
      .repeated-group(md-virtual-repeat='chunk in vm.chunked' layout='row' layout-align='center center')
        .repeated-group-item(ng-repeat='bag in chunk track by bag.id' flex)
          md-card(layout='column' layout-align='center center')

            a(href ng-click='vm.editBaguette(bag)')
              img.md-card-image.image-size(
              ng-src='{{bag.images[0].thumbnailSrc || "/images/question_mark.png"}}'
              alt='Baguette {{$index}}'
              )

            md-card-content(align='center')
              p
                span.bold Цвет:
                =' '
                span {{bag.colour.name}}
              p
                span.bold Материал:
                =' '
                span {{bag.material.name}}
              p
                span.bold Бренд:
                =' '
                span {{bag.brand.name}}
              p
                span.bold Ширина:
                =' '
                span {{bag.borderWidth}} мм.

            //md-card-actions.admin-button(layout='row', layout-align='center center')
              md-button(ng-click='vm.editBaguette(bag)') Редактировать
              md-button(ng-click='vm.deleteBaguette(bag, $event)') Удалить
