.baguettes

  state-bar(
  root-state='baguettes'
  title='Багет'
  )
    md-button.md-fab.md-mini.md-icon-button.admin-button(ng-click='vm.goToCreateBaguette()' ng-if='vm.isAdmin')
      i.material-icons add

  div(layout='row')

    md-sidenav.md-sidenav-left.md-whiteframe-1dp(
    layout-padding md-component-id="left-nav" md-is-locked-open="$mdMedia('gt-xs')"
    ng-if='!vm.isRoot'
    )
      .no-padding(
      layout='column'
      resize='baguettesList'
      style='height: {{ baguettesList.windowHeight - baguettesList.offsetTop - 10 }}px'
      )

        md-virtual-repeat-container.scroll-y(flex)
          .item(
          md-virtual-repeat='bag in vm.baguettes'
          ng-class="{'active ': vm.currentItem.id == bag.id }"
          ng-click='vm.changeBaguette(bag)'
          )
            span {{bag.name}}

    .ui-view(flex layout='row')
