.baguettes

  state-bar(
  root-state='baguettes'
  title='{{ vm.currentState == "tiles" ? "Плитка" : "Таблица" }} багетов'
  )

  div(layout='row')

    md-sidenav.md-sidenav-left.md-whiteframe-1dp(
    layout-padding md-component-id="left-nav" md-is-locked-open="$mdMedia('gt-xs')"
    ng-if='!vm.isRoot'
    )

      p.md-title(layout-margin)
        md-button.md-raised.no-margin(ng-click='vm.backToList()') Показать список

      .no-padding(
      layout='column'
      resize='baguettesList'
      style='height: {{ baguettesList.windowHeight - baguettesList.offsetTop - 10 }}px'
      )

        md-virtual-repeat-container(flex)
          .md-item-text.md-whiteframe-z1.item(
          md-virtual-repeat='bag in vm.baguettes'
          ng-class="{'active ': vm.currentItem.id == bag.id }"
          ng-click='vm.changeBaguette(bag)'
          )
            span {{bag.name}}

        md-button.admin-button.no-padding(
        ng-click="vm.goToCreateBaguette('^')"
        ng-show='vm.isAdmin && !vm.disableAdd'
        ) Добавить багет

    .ui-view(flex layout='row')
