.baguettes

  state-bar(
  root-state='baguettes'
  title='Багет'
  )
    md-button.md-fab.md-mini.md-icon-button.admin-button(ng-click='vm.goToCreateBaguette()' ng-if='vm.isAdmin')
      i.material-icons add

  div(layout='row')

    md-sidenav.md-sidenav-left.md-whiteframe-1dp(
    layout-padding
    md-component-id="left-nav" md-is-locked-open="$mdMedia('gt-xs')"
    ng-if='!vm.isRoot'
    ng-include="'app/domain/baguette/partials/sidenav.html'"
    )

    .ui-view(flex)
