.md-whiteframe-1dp.custom-margin(style="height: {{ windowHeight - 80 }}px; min-height: 400px;")
  h2.md-margin.center-header(ng-if='vm.isCreateState') Создание нового багета
  div(layout-align='center center' layout='column')

    form(name="widthForm")
      md-input-container
        label Ширина багета (мм)
        input(step='1' type='number' ng-model='vm.baguette.borderWidth' min='1' required name='baguetteWidth')
        div(ng-messages="widthForm.baguetteWidth.$error")
          div(ng-message="required") Поле не может быть пустым


    searchable-select(
      label='Материал'
      model='vm.baguette.materialId'
      model-name='Material'
      options='vm.materials'
      on-close='vm.saveClickedOption()'
    )

    searchable-select(
      label='Бренд'
      model='vm.baguette.brandId'
      model-name='Brand'
      options='vm.brands'
      on-close='vm.saveClickedOption()'
    )

    searchable-select(
      label='Цвет'
      model='vm.baguette.colourId'
      model-name='Colour'
      options='vm.colours'
      on-close='vm.saveClickedOption()'
    )

    md-button.md-raised.pink-button(
      ng-if='vm.selectParamsChecker() && vm.isCreateState' ng-click='vm.createBaguette()'
    ) Создать багет

  md-divider.md-margin
    div.alert-div.md-margin.md-whiteframe-1dp(ng-if='vm.dupMessage.length' layout='row' layout-align='center center')
      span {{vm.dupMessage}}
