.baguettes

  state-bar(
  root-state='baguettes'
  bar-title='Багет'
  )
    div(layout='row' layout-align='end center')
      md-input-container(ng-if='vm.isRootState' layout='row' flex)
        i.material-icons.search-label search
        label(for='searcher')
        input#searcher(type="search" ng-model="vm.search" input-clear='black')

      .buttons.margin-left(ng-if='vm.isAdmin')
        state-bar-button.admin-button(
        title='Завершить оформление'
        icon='{{vm.currentItem.isValid ? "visibility" : "visibility_off"}}'
        ng-if='vm.currentItem'
        ng-class='{ warning: !vm.currentItem.isValid }'
        )
        state-bar-button.admin-button(hide-xs title='Экспорт в Excel' icon='file_upload' ng-show='vm.isRootState')
        state-bar-button.admin-button(hide-xs title='Импорт из Excel' icon='file_download' ng-show='!vm.currentItem')
        state-bar-button.admin-button(title='Добавить фото' icon='add_a_photo' ng-show='vm.currentItem')
        state-bar-button.admin-button(title='Удалить багет' icon='delete' ng-show='vm.currentItem')
        state-bar-button.admin-button(title='Добавить багет' icon='add')

  section.busy(ng-if="!vm.ready" layout="row" layout-align="center center")
    md-progress-circular(md-diameter="200" md-mode="indeterminate")


  div(layout='row' ng-if="vm.ready")

    md-sidenav.md-sidenav-left.md-whiteframe-1dp(
    layout-padding
    md-component-id="left-nav"
    md-is-locked-open="$mdMedia('gt-xs')"
    md-is-open='vm.isSideNavOpen'
    ng-if='!vm.isRootState'
    ng-include="'app/domain/baguette/partials/sidenav.html'"
    )

    .ui-view(flex)

