// Images thumbnail
div(class='{{ baseClass }}', layout='row', layout-align='center center')
  div(ng-repeat='i in images')
    a(href ng-click='openGallery($index)' ng-mouseover='setHovered(i)')
      img.thumb-image-fit-div(
      ng-src='{{ i.thumbnailSrc }}'
      class='{{ thumbClass }}'
      alt='Image {{ $index + 1 }}'
      )

// On open image
.ng-overlay(ng-if='opened' layout='row' layout-align='center center')

  .main-div-settings.min-settings.left-right-chevron(flex layout='row' layout-align='start center' hide-xs)
    p.no-margin.material-icons.material-icons(ng-click='prevImage()') chevron_left

  .main-div-settings(flex='80' layout='column' layout-align='space-between center' flex-xs='100')

    .main-div-settings.window-controls.elem-max-width(flex='10' layout='row' show-xs hide)
      p.photo-counter {{index + 1}}/{{images.length}}
      span(flex)
      i.material-icons(ng-click='showAlert()' ng-if='isDeletable') delete
      i.material-icons(ng-click='closeGallery()') close

    // Photo div
    .main-div-settings.elem-max-width(
    layout='column'
    layout-align='center center'
    md-swipe-left='nextImage()'
    md-swipe-right='prevImage()'
    md-swipe-up='closeGallery()'
    )
      img.fullsize.image-fit-div(
      ondragstart='return false;'
      ng-click='closeGallery()'
      draggable='false'
      ng-src='{{ img }}'
      ng-if='!loading'
      )
      md-progress-circular(md-mode="indeterminate" md-diameter='170' ng-if='loading')

    //Info div
    .main-div-settings.elem-max-width(flex='25' hide-xs)

      div
        p.photo-counter-gt-sm {{index + 1}}/{{images.length}}

      .ng-gallery-content(unselectable='on', ng-show='opened')
        .ng-thumbnails-wrapper
          .ng-thumbnails
            div(ng-repeat='i in images track by i.id')
              img.thumb-image-fit-div.thumbnail-style(
              draggable='false'
              ng-src='{{ i.thumbnailSrc }}'
              ng-class='{active : index === $index}'
              ng-click='changeImage($index)'
              )


  .main-div-settings.min-settings.left-right-chevron(flex layout='row' layout-align='end center' hide-xs)
    .no-margin.material-icons(ng-click='nextImage()') chevron_right

  .window-controls(hide-xs)
    i.material-icons.close-icon(ng-click='closeGallery()') close
    i.material-icons.delete-icon(ng-if='isDeletable' ng-click='showAlert($index)') delete
