md-toolbar.toolbar-fixed-top.white-background.md-menu-toolbar.md-whiteframe-1dp
  .md-toolbar-tools(ng-class='{"no-padding": vm.breakpoint}')
    a(ui-sref='home')
      img.top-logo(ng-src='{{windowWidth < 300 ? "images/logo-230x150.png" : "images/top-logo.jpg"}}')

    span(flex)

    md-button.tool-button(
    ng-repeat='btn in vm.buttons track by btn.sref'
    ui-sref='{{btn.sref}}'
    ui-sref-active='md-primary'
    ng-if='!vm.breakpoint'
    ) {{ btn.label }}

    md-fab-speed-dial.md-scale.fab-menu(
    md-direction='down'
    ng-if='vm.breakpoint'
    )
      md-fab-trigger
        md-button.md-fab.md-mini.md-icon-button.md-primary(aria-label='menu')
          i.material-icons menu
      md-fab-actions
        md-button.md-raised.md-mini.custom-fab(
        ng-repeat='fab in vm.navs track by fab.sref'
        aria-label='{{fab.sref}}'
        ui-sref='{{fab.sref}}'
        ui-sref-active='md-primary'
        )
          p {{ fab.label }}

    span(flex='5' ng-if='!vm.breakpoint')

    md-button.md-fab.md-icon-button.md-mini(
    ng-if='!vm.breakpoint'
    ng-click='vm.loginBtnClick()'
    aria-label='login-button'
    ng-disabled='!!vm.settingUser'
    ui-sref-active='active'
    )
      i.material-icons {{ vm.loggedIn ? 'lock_open' : 'lock_outline' }}

    div.with-badge(flex='none')
      md-button.md-fab.md-mini.md-icon-button(ui-sref='cart' ui-sref-active='active')
        i.material-icons shopping_cart
      span.badge(ng-show='vm.cart.length') {{ vm.cart.length }}
