.import
  form(name='xlsxUpload' layout='column' layout-margin ng-if='!vm.data')
    lf-ng-md-file-input(
    name='files'
    lf-files='vm.files'
    lf-required='true'
    lf-maxcount='1'
    lf-filesize='5MB'
    lf-totalsize='5MB'
    lf-mimetype='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    lf-browse-label = 'Выбор файла'
    lf-drag-and-drop-label = 'Перетащите файл сюда'
    lf-remove-label ='Удалить'
    lf-placeholder='Файл не выбран'
    lf-caption="{{vm.files.length > 1 ? 'Файлов выбрано: ' + vm.files.length  : '1 файл выбран'}} "
    drag
    preview
    )
    md-button.md-raised.button-upload(
    ng-click='vm.startButtonClick()'
    ng-if='vm.files.length'
    aria-label='Start upload'
    ) Загрузить данные

  ng-include(src="'app/domain/import/partials/importedDataTable.html'")
