md-content(layout-padding)

  md-grid-list(
    md-row-height-xs="500"
    md-row-height-sm="430"
    md-row-height-md="430"
    md-row-height-lg="420"
    md-cols-xs="1"
    md-cols-sm="3"
    md-cols-md="4"
    md-cols-lg="5"
    md-gutter="10"
  )
    md-grid-tile(ng-repeat="a in vm.articles")
      md-card.height-100
        md-card-header
          md-card-header-text
            .md-title Заголовок
        img.thumbnail-(src='http://www.vseramki.ru/CommonFiles/Smiles/01_Products/0179/0179_00-0.jpg')
        md-card-title
          md-card-title-text
            .md-subhead {{ a.name }}
