state-bar(
bar-title='Профиль пользователя'
)
  md-button.md-raised(
  ng-click='vm.logout()'
  ) Завершить работу

.scroll-y(
resize='userInfo'
ng-style="{height: (userInfo.windowHeight - userInfo.offsetTop - 2) + 'px'}"
layout-align='top center'
layout='column'
)

  form-edit(vm="vm" item="vm.user" form-title="Контактная информация" name-field='')
    form-fields.wide

      .form-controls(layout='column' layout-align='start center')

        md-input-container(md-no-float)
          label Имя
            =' '
            span.required-field-asterisk *
          input(
          ng-model='vm.user.name'
          name='name'
          placeholder=''
          input-clear='black'
          required
          )
          div(ng-messages="vm.attrsForm.name.$error")
            div(ng-message="required") Поле не может быть пустым

        md-input-container(md-no-float)
          label Телефон
          input(
          ng-model='vm.user.phone'
          name='phone'
          input-clear='black'
          ui-mask="+7(999) 999-9999"
          placeholder=''
          ui-mask-placeholder
          ui-mask-placeholder-char="_"
          ng-required
          )

        md-input-container(md-no-float)
          label E-mail
          input(
          ng-model='vm.user.email'
          name='email'
          placeholder=''
          ng-pattern='vm.emailPattern'
          input-clear='black'
          )
          div(ng-messages="vm.attrsForm.email.$error")
            div(ng-message="pattern") Неверный формат ввода

        md-input-container(md-no-float)
          label Адрес доставки
          input(
          ng-model='vm.user.address'
          name='address'
          placeholder=''
          input-clear='black'
          )

  div(ng-if='vm.saleOrders.length' layout='row')
    p.bold Всего заказов: {{vm.saleOrders.length}}
    md-button.pink-button.md-raised.md-button(ng-click='vm.goToOrders()') Открыть заказы

  //.saleOrders(flex='30' layout='column')
  //  h3 Заказы
  //  .md-whiteframe-1dp(ng-repeat='order in vm.orders')
  //    p Имя: {{order.contactName}}
  //    p Тел: {{order.phone}}
  //    p Адрес: {{order.shipTo}}
  //    p ID: {{order.id}}
  //    md-button.pink-button(ng-click='vm.goTo(order.id)') goto

