searchable-select(
label='Бренд'
model='vm.baguette.brandId'
model-name='Brand'
options='vm.brands'
)

searchable-select(
label='Фактура'
label-of='Фактуры'
model='vm.baguette.surfaceId'
model-name='Surface'
options='vm.surfaces'
)

searchable-select(
label='Цвет'
model='vm.baguette.colourId'
model-name='Colour'
options='vm.colours'
)

searchable-select(
label='Материал'
model='vm.baguette.materialId'
model-name='Material'
options='vm.materials'
)
