md-content.oauth-buttons

  div.oauth-button(
    ng-click='$ctrl.loginOauth(btn.url)'
    ng-repeat='btn in $ctrl.buttonsConfig'
    class='{{btn.class}}'
    layout='row'
    layout-align='center center'
    disabled='disabled'
  )
    i.fa(class='fa-{{btn.class}}')
    .divider
    .name(flex) {{btn.name}}

