md-content.oauth-buttons(layout='column' style='padding: 10px')

  div.no-select.button-styles-for-div(
    ng-click='$ctrl.loginOauth(btn.url)'
    ng-repeat='btn in $ctrl.buttonsConfig'
    class='{{btn.class}}'
    layout='row'
    layout-align='center center'
  )
    i.fa(class='fa-{{btn.class}}')
    span.divider
    span.bold-style(flex) {{btn.name}}

