.addFrame.no-margin.scroll-y(
resize='editFrame'
style="height: {{ editFrame.windowHeight - editFrame.offsetTop - 2}}px;"
)
  .text-center
    h2.gray(ng-if='!vm.id') Новая рамка
    h2 {{ vm.frame.name }}

  form.wide(name="frameAttrsForm" layout='column' layout-align='space-between top' layout-gt-sm='row')

    .flex

    .form-controls(layout='column' layout-align='top center')

      //md-input-container
        label Название рамки
        input(type='text' ng-model='vm.frame.name' name='name')

      searchable-select(
      label='Багет'
      model='vm.frame.baguetteId'
      model-name='Baguette'
      options='vm.baguettes'
      not-addable='true'
      )

      searchable-select(
      label='Размер фото'
      model='vm.frame.frameSizeId'
      model-name='FrameSize'
      options='vm.frameSizes'
      )

      searchable-select(
      label='Крепление задника'
      label-of='крепления задника'
      model='vm.frame.backMountId'
      model-name='BackMount'
      options='vm.backMounts'
      )

      searchable-select(
      label='Прозрачная вставка'
      label-of='прозрачной вставки'
      model='vm.frame.screeningId'
      model-name='Screening'
      options='vm.screenings'
      )

      md-radio-group(ng-model='vm.frame.multiType')
        label Прочие размеры
        md-radio-button(ng-value='null') Отсутствуют
        md-radio-button(value='passePartout') Паспарту
        md-radio-button(value='multiFrame') Мульти-рамка

      searchable-select.no-margin(
      ng-if='vm.frame.multiType'
      label='Добавить размер'
      label-of='размера'
      model='vm.extraFrameSizeId'
      model-name='FrameSize'
      options='vm.frameSizes'
      )

      md-chips.with-count(
      ng-model="vm.articleFrameSizes"
      ng-if='vm.frame.multiType'
      readonly='true'
      )
        md-chip-template
          span(ng-if='$chip.count>1') {{ $chip.count }} *&nbsp;
          span(ng-class='{"strike-through gray": !$chip.count}') {{$chip.frameSize.name}}
          md-button.micro-fab(ng-show='$chip.count>0' ng-click='vm.articleFrameSizeDecrement($chip)') -
          md-button.micro-fab(ng-click='$chip.count = $chip.count + 1') +

    .flex

    .form-controls(layout='column' layout-align='top center')

      md-input-container
        label Штук в коробке
          =' '
          span.required-field-asterisk *
        input(
        step='1'
        type='number'
        ng-model='vm.frame.packageRel'
        min='1'
        required
        name='packageRel'
        input-clear='black'
        )
        div(ng-messages="frameAttrsForm.packageRel.$error")
          div(ng-message="required") Поле не может быть пустым

      md-input-container
        label Вес (кг.)
        input(
        step='0.1'
        type='number'
        ng-model='vm.frame.pieceWeight'
        min='0.1'
        name='pieceWeight'
        input-clear='black'
        )

      md-input-container
        label Рыночная цена (руб.)
          =' '
          span.required-field-asterisk *
        input(step='1' type='number' ng-model='vm.frame.highPrice' min='1'  name='highPrice' input-clear='black' required)
        div(ng-messages="frameAttrsForm.highPrice.$error")
          div(ng-message="required") Поле не может быть пустым

      md-input-container
        label Оптовая цена (руб.)
          =' '
          span.required-field-asterisk *
        input(
        name='lowPrice'
        type='number'
        ng-model='vm.frame.lowPrice'
        required
        step='1'
        min='1'
        input-clear='black'
        check-price="{{vm.frame.highPrice}}"
        )
        div.custom-animation(ng-show="frameAttrsForm.lowPrice.$error.checkPrice")
          span.custom-warning Оптовая цена больше рыночной

      input(type='hidden' ng-model='paramsCheck' ng-required='!vm.paramsCheck')

    .flex

  .text-center.margin-top-bottom(
  ng-if='vm.hasChanges()'
  layout='row' layout-align='center center'
  )
    md-button.md-raised(
    ng-if='vm.id'
    ng-click='vm.cancelChanges()'
    ) Отменить изменения

    md-button.md-raised.btn-primary(
    ng-disabled='frameAttrsForm.$invalid' ng-click='vm.save()'
    ) {{ vm.dupMessage || (frameAttrsForm.$invalid ? 'Форма некорректно заполнена' : 'Сохранить') }}
