.addFrame.no-margin.scroll-y(
resize='editFrame'
style="height: {{ editFrame.windowHeight - editFrame.offsetTop - 2}}px;"
)
  .width-100(layout='column' layout-align='top center')

    h2 Редактирование рамки

    form.wide(name="frameAttrsForm" layout='column' layout-align='top center')

      md-input-container.input-margin
        label Название рамки
        input(type='text' ng-model='vm.frame.name' name='name')

      searchable-select(
      label='Багет'
      model='vm.frame.baguetteId'
      model-name='Baguette'
      options='vm.baguettes'
      not-addable='true'
      on-close='vm.refreshName()'
      )

      searchable-select(
      label='Размер'
      model='vm.frame.frameSizeId'
      model-name='FrameSize'
      options='vm.frameSizes'
      not-addable='false'
      on-close='vm.refreshName()'
      )

      md-input-container.input-margin
        label Рыночная цена (руб.)
          =' '
          span.required-field-asterisk *
        input(step='1' type='number' ng-model='vm.frame.highPrice' min='1'  name='highPrice' input-clear='black' required)
        div(ng-messages="frameAttrsForm.highPrice.$error")
          div(ng-message="required") Поле не может быть пустым

      md-input-container.input-margin
        label Оптовая цена (руб.)
          =' '
          span.required-field-asterisk *
        input(
        name='lowPrice'
        type='number'
        ng-model='vm.frame.lowPrice'
        required
        step='1'
        min='1'
        input-clear='black'
        check-price="{{vm.frame.highPrice}}"
        )
        div.custom-animation(ng-show="frameAttrsForm.lowPrice.$error.checkPrice")
          span.custom-warning Оптовая цена больше рыночной

      md-input-container.input-margin
        label Вес (кг.)
        input(
        step='0.1'
        type='number'
        ng-model='vm.frame.pieceWeight'
        min='1'
        name='pieceWeight'
        input-clear='black'
        )

      md-input-container.input-margin
        label Штук в коробке
          =' '
          span.required-field-asterisk *
        input(
        step='1'
        type='number'
        ng-model='vm.frame.packageRel'
        min='1'
        required
        name='packageRel'
        input-clear='black'
        )
        div(ng-messages="frameAttrsForm.packageRel.$error")
          div(ng-message="required") Поле не может быть пустым

      input(type='hidden' ng-model='paramsCheck' ng-required='!vm.paramsCheck')

  .text-center(layout='row' ng-if='vm.hasChanges()')
    md-button.md-raised(
    ng-click='vm.cancelChanges()'
    ) Отменить изменения

    md-button.md-raised(
    ng-disabled='frameAttrsForm.$invalid' ng-click='vm.saveFrame()'
    ) Сохранить изменения

  .alert.margin-top.md-whiteframe-1dp(ng-if='vm.dupMessage')
    span {{vm.dupMessage}}
