.addFrame.no-margin.scroll-y(
resize='editFrame'
style="height: {{ editFrame.windowHeight - editFrame.offsetTop - 2}}px;"
)
  .text-center
    h2.gray(ng-if='!vm.id') Новая рамка
    h2 {{ vm.frame.name }}

  form.wide(name="attrsForm" layout='column' layout-align='space-between top' layout-gt-sm='row')

    .flex

    .form-controls(layout='column' layout-align='top center' ng-include="'app/domain/addFrame/partials/frameFields1.html'")

    .flex

    .form-controls(layout='column' layout-align='top center' ng-include="'app/domain/addFrame/partials/frameFields2.html'")

    .flex

  .text-center.margin-top-bottom(
  ng-if='vm.hasChanges()'
  layout='row' layout-align='center center'
  )
    md-button.md-raised(
    ng-if='vm.id'
    ng-click='vm.cancelChanges()'
    ) Отменить изменения

    md-button.md-raised.btn-primary(
    ng-disabled='attrsForm.$invalid' ng-click='vm.save()'
    ) {{ vm.dupMessage || (attrsForm.$invalid ? 'Форма некорректно заполнена' : vm.saveLabel) }}
