md-dialog(aria-label='Add photo' ng-cloak)
  form
    md-toolbar
      .md-toolbar-tools
        h2 Добавление фото
        span(flex)
        md-button(ng-click='vm.hide()').md-fab.md-mini.micro-square
          i.material-icons.mini clear
    md-dialog-content
      .md-dialog-content
        div(layout="column")
          form.custom-form(name='pictureUpload' layout='column')
            lf-ng-md-file-input(
            name='files',
            lf-files='vm.files',
            lf-required='true',
            lf-maxcount='5',
            lf-filesize='5MB',
            lf-totalsize='25MB',
            lf-mimetype='image/*',
            accept="image/*",
            lf-browse-label = 'Обзор',
            lf-drag-and-drop-label = 'Перетащите файл сюда',
            lf-remove-label ='Удалить',
            lf-placeholder="Выберите файл",
            lf-caption="{{vm.files.length > 1 ? 'Файлов выбрано: ' + vm.files.length  : '1 файл выбран'}} ",
            multiple='',
            drag='',
            preview=''
            )
        div(layout='column' layout-align='center')
          md-button.md-raised.button-upload(
          ng-click='vm.uploadFiles()'
          ng-if='vm.files.length'
          aria-label='Start upload'
          ng-disabled='vm.busy'
          )
            span(ng-if='!vm.busy') Загрузить картинки
            span(ng-if='vm.busy && vm.progressPercent < 100') Идет загрузка
            span(ng-if='vm.busy && vm.progressPercent >= 100') Завершение обработки
          md-progress-linear(ng-if='vm.busy' value='{{vm.progressPercent}}' md-mode='determinate')
          md-progress-linear(ng-if='vm.busy' md-mode="query" ng-show='vm.progressPercent >= 100')

