md-table-container.md-whiteframe-1dp(
ng-if='vm.data.length || vm.modifiedData.length'
)

  h3 Без изменений: {{ vm.data.length - vm.modifiedData.length | number:0 }}

  table(md-table ng-if='vm.modifiedData.length')
    h3 Измененные записи: {{(vm.modifiedData.length)}}
    thead(md-head md-order='vm.orderBy')

      th(
      md-column
      ) Удалить

      th(
      md-column
      md-order-by='diff'
      ) Статус

      th(
      md-column
      md-order-by='index'
      ) №

      th(
      ng-repeat='col in vm.columns track by col.name'
      md-column
      )
        span(ng-click='vm.tableHeaderClick(col, $event)') {{ col.label }}
        = ' '
        a(ng-click='vm.tableHeaderRemoveClick(col, $event)' href) x

      th(ng-show='vm.doneImport' md-column) Ошибка

    tbody(md-body)

      tr(
      md-row
      ng-repeat='row in vm.modifiedData | orderBy: vm.orderBy track by row.index'
      )

        td(md-cell)
          md-button.button-cust-fab(ng-click='vm.tableRowRemoveClick(row)')
            i.material-icons clear

        td(md-cell)
          i.material-icons.import-status-icon {{row.diff ? 'edit' : 'new_releases'}}

        td(md-cell)
          | {{row.index}}

        td(
        md-cell
        ng-repeat='col in vm.columns track by col.name'
        )
          div(ng-class='{warning: col.ref && row.importData[col.name] && !row.importData[col.ref]}') {{row.importData[col.name]}}
          del.gray(ng-if='::row.diff[col.name]') {{ row.instance[col.name] }}

        td(md-cell) {{row.error | json}}
