md-table-container.md-whiteframe-1dp(
ng-if='!vm.busyReading && vm.data'
)
  .properties-wrapper(ng-hide='vm.doneImport || vm.progress || !vm.modifiedData.length')
    div(ng-repeat='temp in vm.newProperties track by $index' layout='row' layout-align='start center' ng-if='temp.items.length')
      span.prop-name {{temp.names[1]}}:
      span(ng-repeat='item in temp.items track by $index')
        .prop-item(
        ng-click='vm.addPropertyClick(temp.names, item, $event)'
        )
          span.prop-val {{item}}

  div.info(layout='row' layout-align='space-between center' ng-if='!vm.progress && !vm.doneImport')

    h3 Всего
      span(hide-xs) &nbsp;
      span(hide-xs) записей
      | : {{ vm.data.length }}
    h3 Новых
      span(hide-xs) &nbsp;
      span(hide-xs) записей
      | : {{vm.recordData.newRecord}}
    h3 Измененных
      span(hide-xs) &nbsp;
      span(hide-xs) записей
      | : {{vm.recordData.modifiedRecord}}
    h3 Без
      span &nbsp;
      span изменений
      | : {{ vm.recordData.notModified }}
    h3(ng-show='vm.recordData.ommitedRecord') Пропущено: {{ vm.recordData.ommitedRecord }}

  h3(ng-if='vm.progress' layout='row' layout-align='center center')
    | Обработано {{vm.recordData.modifiedRecord + vm.recordData.newRecord - vm.modifiedData.length - vm.recordData.ommitedRecord}} из {{vm.data.length - vm.recordData.notModified - vm.recordData.ommitedRecord}} записей

  md-virtual-repeat-container(
  resize='uploadingTable'
  style='height: {{ uploadingTable.windowHeight - uploadingTable.offsetTop - 10 }}px;'
  ng-hide='vm.doneImport || !vm.modifiedData.length'
  )
    table(
    md-table
    )
      thead(md-head)
        th(
        md-column
        ) Удалить

        th(
        md-column
        ) Статус

        th(
        md-column
        ) №

        th(
        ng-repeat='col in vm.columns track by col.name'
        md-column
        )
          span(ng-click='vm.tableHeaderClick(col, $event)') {{ col.label }}
          = ' '
          a(ng-click='vm.tableHeaderRemoveClick(col, $event)' href) x

        th(ng-show='vm.doneImport' md-column) Ошибка

      tbody(md-body)
        tr.tr-height-50(
        md-row
        md-virtual-repeat='row in vm.modifiedData'
        )

          td(md-cell)
            md-button.button-cust-fab(ng-click='vm.tableRowRemoveClick(row)')
              i.material-icons clear

          td(md-cell ng-class='{"import-status-icon": !row.diff}')
            i.material-icons(title="{{row.diff ? 'Измененная запись' : 'Новая запись'}}") {{row.diff ? 'edit' : 'new_releases'}}
            | {{row.diff.length}}

          td(md-cell)
            | {{row.index + 1}}

          td(
          md-cell
          ng-repeat='col in vm.columns'
          )
            div(
            ng-class='{"warning clickable": col.ref && row.importData[col.name] && !row.importData[col.ref] && row.importData[col.name] != " "}'
            ng-click='vm.addPropertyClick(col, row, $event)'
            ) {{col.name == 'baguetteId' ? (row.importData[col.name] ? '+' : '-') : row.importData[col.name]}}
            .gray(ng-if='row.diff[col.name]')
              del {{ row.diff[col.name] }}
