md-table-container.md-whiteframe-1dp(
ng-if='vm.data.length'
)

  table(md-table)

    thead(md-head md-order='orderBy')
      th(
      md-column
      md-order-by='index'
      ) №
      th(
      ng-repeat='col in vm.columns track by col.name'
      md-column
      )
        span(ng-click='vm.tableHeaderClick(col, $event)') {{ col.label }}
        = ' '
        a(ng-click='vm.tableHeaderRemoveClick(col, $event)' href) x
      th(ng-if='vm.doneImport' md-column) Ошибка

    tbody(md-body)

      tr(
      md-row
      ng-repeat='row in vm.data|orderBy: orderBy track by row.index'
      )
        td(md-cell) {{row.index}}
        td(
        md-cell
        ng-repeat='col in vm.columns track by col.name'
        ) {{row[col.name]}}
        td(md-cell) {{row.error | json}}
