md-input-container
  label Штук в коробке
    //=' '
    //span.required-field-asterisk *
  input(
  step='1'
  type='number'
  ng-model='vm.frame.packageRel'
  min='1'
  name='packageRel'
  input-clear='black'
  )
  div(ng-messages="vm.attrsForm.packageRel.$error")
    div(ng-message="required") Поле не может быть пустым

md-input-container
  label Вес (кг.)
  input(
  step='0.001'
  type='number'
  ng-model='vm.frame.pieceWeight'
  min='0.001'
  name='pieceWeight'
  input-clear='black'
  )

md-input-container
  label Рыночная цена (руб.)
    //=' '
    //span.required-field-asterisk *
  input(
  step='0.1'
  type='number'
  ng-model='vm.frame.highPrice'
  min='0'
  name='highPrice'
  input-clear='black'
  )
  div(ng-messages="vm.attrsForm.highPrice.$error")
    div(ng-message="required") Поле не может быть пустым

md-input-container
  label Оптовая цена (руб.)
    //=' '
    //span.required-field-asterisk *
  input(
  name='lowPrice'
  type='number'
  ng-model='vm.frame.lowPrice'
  step='0.1'
  min='0'
  input-clear='black'
  check-price="{{vm.frame.highPrice}}"
  )
  div.custom-animation(ng-show="vm.attrsForm.lowPrice.$error.checkPrice")
    span.custom-warning Оптовая цена больше рыночной

md-input-container
  label Код 1С
    //=' '
    //span.required-field-asterisk *
  input(
  name='code'
  type='text'
  ng-model='vm.frame.nameExternal'
  input-clear='black'
  )

md-input-container
  label Наименование
  input(
  name='name'
  type='text'
  ng-model='vm.frame.name'
  )


input(type='hidden' ng-model='paramsCheck' ng-required='!vm.paramsCheck')
