section.busy(ng-if="!vm.ready" layout="row" layout-align="space-around")
  md-progress-circular(md-diameter="200" md-mode="indeterminate")

md-content.articles(ng-if="vm.ready" layout="row")

  md-sidenav.md-sidenav-left.left-nav-pager(md-component-id="left-nav-pager" md-is-locked-open="true")
    md-content(layout-margin layout-padding)
      wan-material-paging(
        layout="column"
        wmp-total="vm.total"
        goto-page="vm.setPage()"
        position="center"
        current-page="vm.currentPage"
        step="vm.pages"
      )

  md-content#scroll-main(flex style="height: {{ windowHeight - 56 }}px;")

    section(
      vs-repeat
      vs-scroll-parent="#scroll-main"
      vs-size="400"
      vs-scrolled-to-end="vm.nextPage()"
    )
      .row(ng-repeat="row in vm.rows" layout="row")
        md-card(ng-repeat="a in row track by a.id" flex="vm.rowsFlex")
          md-card-header
            md-card-header-text
              .md-title Заголовок
          .img(flex)
            img.thumbnail(src='http://www.vseramki.ru/CommonFiles/Smiles/01_Products/0179/0179_00-0.jpg')
          md-card-title
            md-card-title-text
              .md-subhead {{ a.name }}
          md-card-actions(layout="row" layout-align="start center")
            md-card-icon-actions
              md-button.md-fab.md-mini.md-icon-button(aria-label="Добавить в корзину")
                i.material-icons add_shopping_cart

  md-sidenav.md-sidenav-right(layout-padding md-component-id="right-nav" md-is-locked-open="$mdMedia('gt-xs')")
    md-content
      md-subnav
        h4 Фильтры
      label window: {{ windowWidth }} х {{ windowHeight }}
      label pages: {{ vm.pages }}
