state-bar.articles(
root-state='catalogue'
bar-title='Каталог'
)
  div(layout='row' layout-align='space-between center')

    //md-button.md-fab.md-mini.md-icon-button.default-button(ng-click='vm.isSideNavOpen = !vm.isSideNavOpen')
    //  i.material-icons search
    //
    //.flex


    .cart-totals(layout='column' sa-animate-on-change='vm.cartTotal' change-class="lite change-up" ng-if='!vm.isAdmin')
      p
        span.label Сумма заказа:
        = ' '
        span.value {{vm.cartSubTotal | number: 2}}&nbsp;₽

      p(ng-if='vm.cartDiscount')
        span.label К оплате со скидкой {{ vm.cartDiscount | number: 1 }}%:
        = ' '
        span.value {{ vm.cartTotal | number:2}}&nbsp;₽

    div(ng-if='vm.isAdmin' layout='row')
      state-bar-button.admin-button(
      title='Завершить оформление'
      icon='{{vm.currentItem.isValid ? "visibility" : "visibility_off"}}'
      ng-if='vm.currentItem'
      ng-class='{ warning: !vm.currentItem.isValid }'
      )
      state-bar-button.admin-button(hide-xs title='Скачать таблицу Excel' icon='file_download' ng-show='vm.isRootState')
      state-bar-button.admin-button(hide-xs title='Импорт из таблицы Excel' icon='file_upload')
      state-bar-button.admin-button(title='Добавить рамку' icon='add')
      .buttons(ng-if='vm.currentState === "item"')
        state-bar-button.admin-button(title='Редактировать рамку' icon='edit')
        state-bar-button.admin-button(title='Удалить рамку' icon='delete')
        state-bar-button.admin-button(title='Добавить фото' icon='add_a_photo')

section.busy(ng-if="!vm.ready" layout="row" layout-align="center center")
  md-progress-circular(md-diameter="100" md-mode="indeterminate")

md-content.articles(ng-if="vm.ready" layout="row" layout-align="center" )

  md-sidenav#sidenav-left.md-sidenav-left.md-whiteframe-1dp.margin-top-bottom(
  layout-padding md-component-id="left-nav"
  md-is-locked-open="$mdMedia('gt-xs')"
  md-is-open='vm.isSideNavOpen'
  ng-include="'app/domain/catalogue/partials/sidenav.html'"
  )

  .ui-view(flex)

