section.busy(ng-if="!vm.ready" layout="row" layout-align="center center")
  md-progress-circular(md-diameter="200" md-mode="indeterminate")

md-content.articles(ng-if="vm.ready" layout="row" layout-align="center")
  md-sidenav.md-sidenav-right.md-whiteframe-1dp(
  layout-padding md-component-id="right-nav" md-is-locked-open="$mdMedia('gt-sm')"
  )
    p.md-title Фильтры
    div(layout='column' layout-align='start start' style='height: 230px')

      property-filter.custom-padding(
      property-name='frameSize'
      property-label='Размер'
      options='vm.frameSizes'
      current-option='vm.currentFilter.frameSize'
      set-option-fn='vm.filterOptionClick',
      clear-fn='vm.delCurrFilter'
      )

      property-filter.custom-padding(
      property-name='brand'
      property-label='Брэнд'
      options='vm.brands'
      current-option='vm.currentFilter.brand'
      set-option-fn='vm.filterOptionClick',
      clear-fn='vm.delCurrFilter'
      )

      property-filter.custom-padding(
      property-name='material'
      property-label='Материал'
      options='vm.materials'
      current-option='vm.currentFilter.material'
      set-option-fn='vm.filterOptionClick',
      clear-fn='vm.delCurrFilter'
      )

      property-filter.custom-padding(
      property-name='colour'
      property-label='Цвет'
      options='vm.colours'
      current-option='vm.currentFilter.colour'
      set-option-fn='vm.filterOptionClick',
      clear-fn='vm.delCurrFilter'
      )
      div(layout-align='center center' layout='column' style='width: 100%')
        md-button.md-raised.custom-button(
        aria-label='Reset filters' ng-click='vm.resetFilters()' ng-if='vm.filterLength'
        ) Сбросить фильтры

    md-divider(ng-if='!vm.isRootState' style='padding: 2px')

    md-divider(flex ng-if='vm.isRootState')

    .no-padding(
    layout='column'
    resize='articlesList'
    style='height: {{articlesList.windowHeight - articlesList.offsetTop - 10}}px;'
    )
      md-virtual-repeat-container(ng-show='!vm.isRootState' style='flex: 1')
        .md-whiteframe-1dp.items(
        md-virtual-repeat='frame in vm.articles'
        layout='row'
        layout-align='start  center'
        ng-class="{'active-frame' : vm.currId == frame.id }"
        ng-click='vm.changeFrame(frame)'
        )
          span {{frame.name}}

      md-button.admin-button.no-padding(
      ng-click="vm.goToCreateFrame()"
      ng-show='vm.isAdmin && !vm.disableAddFrame'
      ) Добавить рамку

  .ui-view(flex ng-if='!vm.isRootState')

  md-content#scroll-main(
  flex resize
  style='height: {{ windowHeight - offsetTop }}px; max-width: {{ vm.isRootState ? "100%" : "0"}};'
  )
    md-virtual-repeat-container(style='height: {{windowHeight - 65}}px')
      .repeated-group(md-virtual-repeat='row in vm.rows' layout='row' layout-align='center center')
        .repeated-group-item(ng-repeat='article in row' flex)
          md-card(layout='column' layout-align='center center')
            md-card-header
              a(href ui-sref='catalogue.item({id: article.id})')
                img.image-thumbnail(
                ng-src='{{article.images[0].thumbnailSrc || article.baguette.images[0].thumbnailSrc}}'
                ng-if='article.images.length || article.baguette.images.length'
                )
                img.image-thumbnail(
                src='/images/question_mark.png'
                ng-if='!article.images.length && !article.baguette.images.length'
                )
            md-card-title.md-margin
              md-card-title-text
                .md-subhead.center {{ article.name }}

            .md-margin
              .md-title.center {{ article.highPrice + ' ₽'}}
            span(flex)

            md-card-content.fixed-height(ng-show='article.inCart')
              .div-order-info(layout='row' layout-align="start center")

                p.name-style Заказано:

                div(layout='row' layout-align='center center')
                  md-button.icon-button-catalogue(ng-click='vm.minusOne(article)') -

                  md-input-container
                    input.custom-input(
                    aria-label="Количество"
                    ng-model="article.inCart.count"
                    type="number"
                    ng-change="vm.onCartChange(article)"
                    ng-blur="vm.onBlur(article)"
                    ng-pattern="vm.pattern"
                    required
                    min='0'
                    step='1'
                    )

                  md-button.icon-button-catalogue(ng-click='vm.plusOne(article)') +

            md-card-actions(flex ng-show='!article.inCart')
              md-button.md-fab.md-mini.md-icon-button(
              aria-label="Добавить в корзину"
              ng-click="vm.addToCart(article)"
              )
                i.material-icons add_shopping_cart

    | {{vm.article | json}}
