md-content.ui-view.height-100#scroll-main
  md-virtual-repeat-container.scroll-y(
  resize='tiles'
  ng-style='{ height: (tiles.windowHeight - tiles.offsetTop) + "px" }'
  )
    .repeated-group(md-virtual-repeat='row in vm.rows' layout='row' layout-align='center center')
      .repeated-group-item(ng-repeat='article in row' flex)
        md-card(layout='column' layout-align='space-between center')
          md-card-content.clickable(ng-click='vm.gotoItemView(article, $event)')
            .md-card-corner
              label арт {{ article.code }}
            md-card-header
              img.thumbnail(ng-src='{{article.activePhoto()}}')
            h4.text-center.margin-top-bottom
              frame-name.title(article='article')
              small.gray {{ ::article.multiTypeName() }}
            //md-card-title.md-margin
              md-card-title-text
                .md-subhead.text-center {{ article.name }}
            .flex
            .md-margin
              .price
                span(ng-class='{"strike-through gray": vm.cartHasDiscount}') {{ article.highPrice }} ₽
                span(ng-if='vm.cartHasDiscount') &nbsp; {{ article.discountedPrice(vm.cartSubTotal) }} ₽

          md-card-actions(ng-if='article.inCart')
            .div-order-info.space-children-em(layout='row' layout-align="start center")

              p Заказано:

              .plus-minus(layout='row' layout-align='center center')
                md-button.micro-fab(ng-click='vm.minusOne(article)') -

                md-input-container
                  input(
                  aria-label="Количество"
                  ng-model="article.inCart.count"
                  type="number"
                  ng-change="vm.onCartChange(article)"
                  ng-blur="vm.onBlur(article)"
                  ng-pattern="vm.pattern"
                  required
                  min='0'
                  step='1'
                  )

                md-button.micro-fab(ng-click='vm.plusOne(article)') +

          md-card-actions.not-in-cart(ng-if='!article.inCart')
            md-button.md-fab.md-mini.md-icon-button.default-button(
            aria-label="Добавить в корзину"
            ng-click="vm.addToCart(article)"
            )
              i.material-icons add_shopping_cart



