.ui-view

  #scroll-main(
  resize='catalogueTable'
  ng-style='{height: (catalogueTable.windowHeight - catalogueTable.offsetTop - 60)+"px"}'
  )
    md-table-container(ng-if='vm.articles.length')
      table(md-table md-row-select multiple ng-model='vm.selected')
        thead(md-head md-order='filterBy')
          th.hide-sm.hide-xs(md-column) Фото
          th(md-column md-order-by='brand.name') Бренд
          th(md-column md-order-by='frameSize.name') Размер
          th(md-column md-order-by='colour.name') Цвет
          th(md-column md-order-by='lowPrice') Цена опт
          th(md-column md-order-by='highPrice') Цена розн.
          th.hide-sm.hide-xs(md-column md-order-by='packageRel') Шт. в кор.
          //th(md-column md-order-by='pieceWeight') Вес (кг.)

        tbody.clickable(md-body)
          tr(
          md-row
          ng-repeat='article in vm.articles |orderBy: filterBy track by article.id'
          md-select='article'
          md-select-id='id'
          ng-click='vm.gotoItemView(article, $event)'
          )
            td.hide-sm.hide-xs(md-cell)
              img.thumbnail(ng-src='{{article.activePhoto()}}')
            td(md-cell) {{article.brand.name}}
            td(md-cell) {{article.frameSize.name}}
            td(md-cell) {{article.colour.name}}
            td(md-cell) {{article.lowPrice}}
            td(md-cell) {{article.highPrice}}
            td.hide-sm.hide-xs(md-cell) {{article.packageRel}}
            //td(md-cell) {{article.pieceWeight || 'Не указан'}}

  md-table-pagination(
  md-limit='vm.pagination.query.limit',
  md-label='{{vm.pagination.labels}}',
  md-limit-options='vm.pagination.limitOptions',
  md-page='vm.pagination.query.page',
  md-total='{{vm.articles.length}}',
  md-page-select='!vm.useMobile',
  md-boundary-links='!vm.useMobile'
  )
