div(style="height: {{ windowHeight - (windowWidth >= 960 ? 64 : 56) }}px;")
  h2.md-padding.custom-h3(layout="row" layout-align="center center") {{ vm.article.name }}

  div(ng-if='vm.uploading' layout="column")
    form.custom-form(name='pictureUpload', layout='column')
      lf-ng-md-file-input(
        name='files',
        lf-files='vm.files',
        lf-required='true',
        lf-maxcount='5',
        lf-filesize='5MB',
        lf-totalsize='25MB',
        lf-mimetype='image/*',
        accept="image/*",
        multiple='',
        drag='',
        preview=''
      )

  div(layout='row' layout-align='center center')
    md-button.md-raised.button-upload(ng-click='vm.uploadFiles()' ng-if='vm.files.length') Загрузить картинки


  //div(ng-if='vm.articleImages.length')
  //  h2.md-padding.custom-h3 Загружено {{vm.articleImages.length}} фото
  //  div.md-whiteframe-3dp(layout='row' layout-aling='center center' flex="")
  //    div.md-padding(ng-repeat='img in vm.articleImages track by img.id')
  //      img(ng-src='{{img.thumbnailSrc}}')


  div.md-padding.custom-h3(ng-if='vm.articleImages.length')
    h2 Загружено {{vm.articleImages.length}} фото
    md-grid-list(
      md-cols='1',
      md-cols-sm='2',
      md-cols-md='3',
      md-cols-gt-md='6',
      md-row-height-gt-md='1:1',
      md-row-height='4:3',
      md-gutter='2px',
      md-gutter-gt-sm='1px'
    )

      md-grid-tile.md-padding(
        ng-repeat='img in vm.articleImages track by img.id',
        md-rowspan='1',
        md-colspan='1',
        md-colspan-sm='1',
        md-colspan-xs='1'
        ng-click="vm.imageClick(img)"
      )
        div.photo-wrapper(ng-class="{'clicked': img.id == vm.clickedImage.id}", layout="column", layout-align="center center")
          img.md-padding(ng-src='{{img.thumbnailSrc}}')
          md-button.md-raised(ng-click="vm.deletePhoto(img)") Удалить фото

    md-button.md-primary.md-raised(ng-click='vm.uploading = true' ng-hide='vm.uploading') Загрузить еще

