.picture-list

  .headers
    .thumbnail
    .type Тип
    .article Артикул
    .name Название файла
    .renamed Переименован

  md-virtual-repeat-container.scroll-y.height-100.pictures(
    resize='pictures'
    ng-style='{ height: (pictures.windowHeight - pictures.offsetTop) + "px" }'
    md-top-index='vm.topIndex'
  )
    .picture(md-virtual-repeat='picture in vm.pictures')
      .thumbnail(
        popover-trigger="'mouseenter'"
        popover-placement="right"
        uib-popover-template='"app/domain/pictures/preview/preview.template.html"'
        popover-append-to-body="true"
        popover-class='picture-preview-popover'
      )
        img(ng-src="{{ picture.thumbnailSrc }}")
      .type {{ picture.type }}
      .article {{ picture.article }}
      .name {{ picture.name }}
      .renamed {{ picture.renamed }}
