state-bar(
title='Контакты'
)

.contacts.scroll-y(
resize='contacts'
ng-style='{height: (contacts.windowHeight - contacts.offsetTop)+"px"}'
)

  .md-padding.space-children-em(
  layout='column' layout-align='start center'
  layout-gt-sm='row' layout-align-gt-sm='space-around start'
  )

    .flex

    .property-list.md-whiteframe-1dp.ya-map-container#location

      h3.header Наш офис

      .property-list-container
        .property
          .property-label Адрес:
          .property-value г. Москва, ул. Ивана Франко, д.48
        .property
          .property-label Телефон:
          .property-value
            a(href='tel:+74957668887') +7 (495) 766-888-7

      ya-map.ya-map(
        ng-show='vm.map.ready'
        ya-center="{{vm.map.center}}"
        ya-zoom="{{vm.map.zoom}}"
        ya-after-init='vm.afterMapInit($target)'
        )
          ya-geo-object(
          ya-options="{preset:'islands#blueStretchyIcon'}"
          ya-source="vm.map.marker"
          )

      .text-center(ng-if='!vm.map.ready')
        h3.gray Загрузка карты
        md-progress-circular.margin-auto(md-diameter="300" md-mode="indeterminate")

    .flex

    div

      .property-list.md-whiteframe-1dp#requisites
        h3.header Реквизиты
        .property-list-container
          .property
            .property-label Название:
            .property-value ООО «Ювит»
          .property
            .property-label Юр. адрес:
            .property-value 117342, Россия, г. Москва, ул. Обручева, д.36 корп.1
          .property
            .property-label ИНН:
            .property-value 7728825955
          .property
            .property-label ОГРН:
            .property-value 1127747178404
          .property
            .property-label БИК:
            .property-value 044579647
          .property
            .property-label Р/с:
            .property-value 40702810800460005121
          .property
            .property-label Банк:
            .property-value ЗАО «ПРОБАНК» г. Москва
          .property
            .property-label К/с:
            .property-value 30101810900000000647

          .property
            .property-label ОКПО:
            .property-value 16431742

    .flex
