.text-center
  h2.gray(ng-if='vm$.formTitle') {{ vm$.formTitle }}
  h2(ng-if='vm$.nameField') {{ vm$.item[vm$.nameField]}}

form(name="vm.attrsForm" ng-transclude='fields' autocomplete='off' ng-submit='vm.onSubmit()')

.text-center.margin-top-bottom(
ng-if='vm.hasChanges()'
layout='column' layout-align='start'
layout-gt-xs='row' layout-align-gt-xs='center center'
)
  md-button.md-raised(
  ng-if='vm.id'
  ng-click='vm.cancelChanges()'
  ) Отменить изменения

  md-button.md-raised.pink-button(
  ng-disabled='vm.attrsForm.$invalid' ng-click='vm.save()'
  ) {{ vm.dupMessage || (vm.attrsForm.$invalid ? 'Форма некорректно заполнена' : (vm.saveLabel || 'Сохранить')) }}

ng-transclude(ng-transclude-slot='footer')
