state-bar(
bar-title='Заказ'
)
  div(layout='row')
    md-button.md-button.pink-button.md-raised(
    ng-if='vm.data.length'
    ui-sref='checkout'
    ) Оформить заказ

.cart.scroll-y(resize='cart' ng-style='{height: (cart.windowHeight - cart.offsetTop - 61)+"px"}')

  .height-100(
  ng-if='!vm.data.length'
  layout='column'
  layout-align='center center'
  )
    //.flex
    .emptyCart.md-whiteframe-1dp(ng-if='!vm.data.length')
      div(style='text-align: center') Корзина пуста
      div
        md-button.md-raised.pink-button(ui-sref='catalogue')
          | Перейти в Каталог
    //.flex
  ng-include(src="'app/domain/cart/partials/cartTable.html'" ng-if='vm.data.length')

.footer.cart(layout='row' layout-align='center center')
  md-button.md-button.md-fab.md-mini.md-icon-button.default-button(
  ng-if='vm.data.length'
  ng-click='vm.clearCart($event)'
  title='Отменить заказ'
  )
    i.material-icons remove_shopping_cart
  span(flex)
  div(layout='column' ng-if='vm.data.length')
    p.no-margin.text-right
      span Итого к оплате:
      = ' '
      span.bold(style='min-width: 120px; display: inline-block; text-align: left;')
        | {{vm.cartTotal | number: 2}}&nbsp;₽
    p.no-margin.text-right
      span Cкидка {{ vm.cartDiscount | number: 1 }}%:
      = ' '
      span.bold(style='min-width: 120px; display: inline-block; text-align: left;')
        | {{vm.cartSubTotal - vm.cartTotal | number:2}}&nbsp;₽
