div(layout-align="center center" layout="column")
  md-button.md-raised(ng-if='vm.data.length', ng-click='vm.clearCart()') Очистить корзину


  div(ng-if='!vm.data.length' flex='')
    div(style=' height: {{windowHeight - (windowHeight / 2) -56 }}px;' flex='')
    div.emptyCart
      div(style='text-align: center') Корзина пуста
      div
        md-button.md-raised(ui-sref='catalogue')
          | {{'Вернуться к товарам'}}


  md-table-container.table-container-class(ng-if='vm.data.length')
    table(md-table='')
      thead(md-head='')
        tr(md-row='')
          th(md-column='')
            span.th-left-align Фото
          th(md-column='')
            span Наименование
          th(md-column='')
            span.th-left-align Количество
          th(md-column='')
            span Удалить
      tbody(md-body='')
        tr.animate-show(
          vr-animate-remove
          ar-watch='item.count'
          on-animate-end="vm.itemRemove(item)"
          animate-class='animate-remove'
          md-row='',
          md-on-select='logItem',
          ng-repeat='item in vm.data track by item.id'
        )
          td.pointer-style(md-cell='' ng-click='vm.itemClick(item)' ui-sref='item({ id: item.article.id })')
            img.cart-thumbnail(ng-src='{{item.article.images[0].thumbnailSrc}}' ng-if='item.article.images.length')
            img.cart-thumbnail(
              ng-src='http://bit.ly/1Yu4VIb'
              ng-if='!item.article.images.length'
            )
          td(md-cell='') {{item.article.name}}
          td(md-cell='')
            div.number-picker
              md-button.md-icon-button(ng-click='vm.minusOne(item)') -
              input.custom-input(aria-label="Количество" ng-model="item.count" type="number" ng-change="vm.saveItem(item)" min='1' step='1')
              md-button.md-icon-button(ng-click='vm.plusOne(item)') +
          td(md-cell='')
            md-button.md-mini.md-icon-button(ng-click='vm.clearItem(item)' class="slide")
              i.material-icons.clear-icon-size clear
