state-bar.hidden-print(
bar-title='Оформление заказа'
)

#checkout.scroll-y(resize='checkout' ng-style='{height: (checkout.windowHeight - checkout.offsetTop - 1)+"px"}')

  .order.width-100.print-layout-row.print-layout-align-space-around-start(
  layout='column'
  layout-align='start center'
  layout-gt-xs='row'
  layout-align-gt-xs='space-around start'
  )

    .flex
    #order-info.property-list.flex-5-4(ng-include="'app/domain/cart/checkout/orderInfo.html'")
    .flex
    form.wide(name='checkoutForm' ng-include="'app/domain/cart/checkout/checkOutForm.html'" ng-submit='vm.onSubmit()')
    .flex

  ng-include#orderTable(src="'app/domain/cart/checkout/orderTable.html'")

