state-bar.hidden-print(
title='Оформление заказа'
)

#checkout.scroll-y(resize='checkout' ng-style='{height: (checkout.windowHeight - checkout.offsetTop)+"px"}')

  .order.width-100(
  layout='column'
  layout-align='start center'
  layout-gt-xs='row'
  layout-align-gt-xs='space-around start'
  resize='order-detail' ng-style='{height: (order.windowHeight)+"px"}'
  )

    #order-info.property-list.flex-5-4(ng-include="'app/domain/cart/checkout/orderInfo.html'")

    form.wide(name='checkoutForm' ng-include="'app/domain/cart/checkout/checkOutForm.html'")

  ng-include#orderTable(src="'app/domain/cart/checkout/orderTable.html'")

